#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Table_1 {
  border-collapse: separate;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_8 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_10 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Cell_7 > .valign {
  vertical-align: top;
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-237d2074-94c7-47c6-a764-4c01c53072c5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}