#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c3cedb-4e48-4602-bd61-96aa60736d9b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}